<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>500218653913-7tqngcvp01ntgu6drur8drln9lb1je24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500218653913-7tqngcvp01ntgu6drur8drln9lb1je24</string>
	<key>API_KEY</key>
	<string>AIzaSyClwqUhO5seYSGB97YbPGurBrqi702IDNg</string>
	<key>GCM_SENDER_ID</key>
	<string>500218653913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UTS.IMoniQ</string>
	<key>PROJECT_ID</key>
	<string>imoniq-8ae5a</string>
	<key>STORAGE_BUCKET</key>
	<string>imoniq-8ae5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500218653913:ios:715e8f5b3393f66e</string>
	<key>DATABASE_URL</key>
	<string>https://imoniq-8ae5a.firebaseio.com</string>
</dict>
</plist>