<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>161884570923-okl32l6t1hs7rlmj4uvkpmid23ci0urn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161884570923-okl32l6t1hs7rlmj4uvkpmid23ci0urn</string>
	<key>API_KEY</key>
	<string>AIzaSyBkBuW5nsQC0NkPdeZuUkFGiacccROeK4s</string>
	<key>GCM_SENDER_ID</key>
	<string>161884570923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.uts.IMoniQ</string>
	<key>PROJECT_ID</key>
	<string>imoniq2-3c632</string>
	<key>STORAGE_BUCKET</key>
	<string>imoniq2-3c632.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161884570923:ios:93ee39e21cd153e4</string>
	<key>DATABASE_URL</key>
	<string>https://imoniq2-3c632.firebaseio.com</string>
</dict>
</plist>